* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;

  transition: background 1.5s ease;

  background:
    radial-gradient(circle at 50% 20%, #12345c, #020617 70%);
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 20px 0;
  justify-items: center;
}

.btn {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  opacity: 0;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: gold;
}

.btn.active {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 25px white;
}

.hidden {
  display: none;
}

button {
  margin: 5px;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: white;
}

#watchAdBtn {
  background: gold;
  color: black;
  font-weight: bold;
  display: none;
  margin-top: 10px;
}

.flash {
  animation: flash 0.2s;
}

@keyframes flash {
  0% {
    background: white;
  }

  100% {
    background: #111;
  }
}
#welcomeImage{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;

  animation: hideSplash 5s forwards;
}

#welcomeImage img{
  width:80%;
  max-width:300px;
  border-radius:20px;
}

@keyframes hideSplash{
  0%{
    opacity:1;
  }

  90%{
    opacity:1;
  }

  100%{
    opacity:0;
    visibility:hidden;
  }
}
a{
  display:inline-block;
  margin-top:20px;
  margin-bottom:20px;
  padding:12px 20px;
  background:#00ff88;
  color:black;
  text-decoration:none;
  border-radius:12px;
  font-weight:bold;
}
#shareBtn{
  background:#00ff99;
  color:black;
  border:none;
  padding:15px 25px;
  border-radius:15px;
  font-size:18px;
  margin:15px;
}

#shareMenu{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:10px auto;
}

#shareMenu.hidden{
  display:none;
}

#shareMenu a{
  background:white;
  color:black;
  text-decoration:none;
  padding:10px;
  border-radius:10px;
}
#profileContainer{
  position:absolute;
  top:10px;
  left:10px;
  z-index:1000;
}

#profilePic{
  width:70px;
  height:70px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #00ff99;
  cursor:pointer;
}

#profileModal{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.95);
  justify-content:center;
  align-items:center;
  z-index:9999;
}

#profileModal img{
  max-width:95%;
  max-height:95%;
}
